@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Airbnb Cereal App";
    font-style: normal;
    font-weight: 400;
    src: local("Airbnb Cereal App"), url("../fonts/AirbnbCerealBook.woff") format("woff");
}

@font-face {
    font-family: "Airbnb Cereal App";
    font-style: normal;
    font-weight: 300;
    src: local("Airbnb Cereal App"), url("../fonts/AirbnbCerealLight.woff") format("woff");
}

@font-face {
    font-family: "Airbnb Cereal App";
    font-style: normal;
    font-weight: 500;
    src: local("Airbnb Cereal App"), url("../fonts/AirbnbCerealMedium.woff") format("woff");
}

@font-face {
    font-family: "Airbnb Cereal App";
    font-style: normal;
    font-weight: 700;
    src: local("Airbnb Cereal App"), url("../fonts/AirbnbCerealBold.woff") format("woff");
}

@font-face {
    font-family: "Airbnb Cereal App";
    font-style: normal;
    font-weight: 800;
    src: local("Airbnb Cereal App"), url("../fonts/AirbnbCerealExtraBold.woff") format("woff");
}

@font-face {
    font-family: "Airbnb Cereal App";
    font-style: normal;
    font-weight: 900;
    src: local("Airbnb Cereal App"), url("../fonts/AirbnbCerealBlack.woff") format("woff");
}

html,
body {
    font-family: "Airbnb Cereal App", sans-serif;
    padding: 0;
    margin: 0;
    display: block;
    @apply bg-black;
}

a {
    color: inherit;
    text-decoration: none;
}